{% extends "includes/base.html" %}
{% load static%}
{%block links%}
  <link rel="stylesheet" type="text/css" href="{% static 'css/userHome.css' %}" media="all">
{% endblock links%}
{% block jsFiles %}
  <script type="text/javascript" src="{% static 'script/userHome.js' %}" defer></script>
{% endblock jsFiles %}
{% block content %}
<div class = "header_row">
  <div class="header_content">
    <div class ="header_content_left">
        <div class="logo_container">
          <p class="popIT_logo">popIT</p>
        </div>
        <div class="Home_container">
          <div class="row"><a href="{% url 'Poppit-Home' %}" class="Home">Home</a></div>
        </div>
        <div class="Notifications_container">
          <div class="row"><a href="#" class="Notifications">Notifications</a></div>
        </div>
        <div class="Messages_container">
          <div class="row"><a href="#" class="Messages">Messages</a></div>
        </div>
    </div>
    <div class ="header_content_right">
        <input type="text" placeholder="Search.." class="searchbar">
        <button type="button" name="button" class="settings">
          <div class= "settings_dropdown">
            <div class="user_logged">
              {{user.first_name}}
              {{user.last_name}}
              {{user.email}}
            </div>
            <div class="dropdown_option"><a href="#" class="advertise">Advertise</a><br></div>
            <div class="dropdown_option"><a href="#" class="privacy">Settings and Privacy</a></div>
            <div class="dropdown_option"><a href="{% url 'logout' %}" class="logout">Logout</a></div>
          </div>
        </button>
    </div>
  </div>
</div>

  <div class="user">
    <div class="backgroundImage_block"></div>
    <div class="profile_image"></div>
    <div class="list">
      <div class="list_left">
        <div class="about_container">
        <div class="row"><a href="#" class="about">About</a></div>
        </div>
        <div class="Communities_container">
          <div class="row"><a href="#" class="Communities">Communities</a></div>
        </div>
        <div class="Calendar_container">
          <div class="row"><a href="#" class="Calendar">Events</a></div>
        </div>
      </div>
      <div class="list_right">
        <div class="friends_container">
          <a href="#" class="friends">Friends</a>
        </div>
        <div class="photos_container">
          <a href="#" class="photos">Photos</a>
        </div>
        <div class="more_container">
          <button type="button" name="button" class="more">More &#9660

            <div class="more_Dropdown">
              <div class="dropdown_option">
                <a href="#" class="books">Books</a><br>
              </div>
              <div class="dropdown_option">
                <a href="#" class="games">Games</a><br>
              </div>
              <div class="dropdown_option">
                <a href="#" class="Interest">Interest</a><br>
              </div>
              <div class="dropdown_option">
                <a href="#" class="movies">Movies</a><br>
              </div>
              <div class="dropdown_option">
                <a href="#" class="music">Music</a><br>
              </div>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
